body  {
  background-color: darkslategrey;
}
li  {
  list-style: none;
}

.js-title {
  text-align: center;
    color: white;
    text-shadow: 0 0 10px black;
    font-size: 4vw;
    margin-top: 10%;
    z-index: 1;
}

.form,.greetings {
	display:none;
  }
.form .js-input  {
  width: 200px;
    text-align: center;
    background: no-repeat;
    border: 0px;
    border-bottom: 2px solid white;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px azure;
    margin: 0 auto;
    display: block;
    margin-bottom: 30px;
}

.js-toDoForm input  {
  background: rgba(0,0,0,0.2);
    border: 0px;
    font-size: 2vh;
    padding: 8px;
    color: white;
    text-shadow: 0 0 5px black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.js-toDoForm input::placeholder {
  color:white;
}

.showing  {
  display: block;
  text-align: center;
  color:white;
  font-size: 2vw;
  text-shadow: 0 0 5px black;
}

.js-toDoForm  {
  text-align: center;
}

.js-toDoList {
  padding:0px;
}

.js-toDoList li,.js-toDoEndList li {
  text-align: initial;
  width: 200px;
  margin: 6px auto;
  color: white;
  text-shadow: 0 0 5px black;
}

.js-toDoList li button,.js-toDoEndList li button  {
  background: no-repeat;
    border: 0px;
    cursor: pointer;
    transition: all 0.3s;
}
.js-toDoList li button:hover,.js-toDoEndList li button:hover  {
  transform: scale(1.7);
}
.delBtn {
  color: crimson;
}
.clearBtn {
  color:palegreen
}

.js-toDoList li span  {
  padding-left:20px;
}

@keyframes fadeIn {
  from  {
    opacity: 0;
  }
  to  {
    opacity: 1;
  }
}

.bgImage  {
  position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 1s linear;
}

.js-weather {
  display: flex;
  justify-content: center;
  animation:all 1s linear;
}

.js-weather div {
  background: rgba(0,0,0,0.4);
  padding: 25px;
  border-radius: 10px;
  margin: 5px;
  line-height: 2.5vh;
  color:white;
}

.js-timeChk {
  width: 100px;
    text-align: center;
    background: no-repeat;
    border: 0px;
    border-bottom: 2px solid white;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 3px 3px black;
    margin: 0 auto;
    display: block;
}

.js-timeChk option  {
  background:black;
}

.js-weather div span{
  display: block;
}

.js_NowWeather  {
  position: fixed;
  right: 10px;
  top: 10px;
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 2vw;
}

#tableBox {
  background: rgba(0,0,0,0.5);
    padding: 15px 15px;
    border-radius: 10px;
    position: fixed;
    text-align: center;
    top: 35px;
    left: 0px;
    box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
    z-index: 0;
    opacity: 0;
    transition:all 0.3s ease-in-out;
    cursor:default;
}
#jsTbody td {
  border-radius: 50%;
    padding: 1px 3px;
    transition: all 0.3s;
}

#tableBox td:hover  {
  background-color:slategrey;
}

#prevBtn  {
  position: absolute;
  left: 10px;
}
#nextBtn  {
  position: absolute;
  right: 10px;
}

#tableTitle  {
  color: white;
    margin: 0px 0px 15px 0px;
    position: relative;
    display: flex;
    padding: 5px;
    background: rgba(255,255,255,0.15);
    border-radius: 5px;
}

#jsTable thead  {
  color:white;
}

#jsMonth  {
  margin:0 auto;
}

#jsMonth select {
  border: 0px;
    background: no-repeat;
    color: white;
    font-size: 1vw;
    border-bottom: 1px solid;
}
#jsMonth option {
  background: black;
}

#calendarBtn  {
  color: white;
  font-size: 24px;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -110px;
  left: -110px;
  background: dimgray;
  border-radius: 50%;
  box-shadow: 0px 0px 0px rgb(0 0 0 / 80%);
  transition:all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1;
}
#calendarBtn:hover  {
  box-shadow: 2px 2px 5px rgb(0 0 0 / 80%);
  left: -100px;
  top: -100px;
}
#calendarBtn i  {
  position: absolute;
    right: 20%;
    bottom: 20%;
    transition: all 0.3s ease-in-out;
    height: fit-content;
}

.calendarOn {
  width: 320px !important;
  left: 0px !important;
    top: 0px !important;
    border-radius: 0px 10px 10px 0px !important;
    height: 43vh !important;
    z-index: 0 !important;
}

.calendarOn i   {
  right: 20px !important;
  top: 20px;
}

.tableBoxOn {
  z-index: 2 !important;
  opacity: 1 !important;
    top: 80px !important;
    left: 50px !important;
    cursor: pointer !important;
}

#calendarBox  {
  width: 30%;
    height: 71vh;
    position: fixed;
    left: 35%;
    top: 23%;
    background: dimgray;
    text-align: center;
    border-radius: 30px;
    opacity: 0;
    transition:all 0.1s;
}

#ulTitle  {
  display: flex;
    justify-content: center;
    position: relative;
    width: 95%;
    margin: 0 auto;
    border-radius: 30px;
}

#ulTitle div  {
  width: 44%;
    padding: 5px 0px;
    margin: 1% 1.6%;
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 20px 20px 0 0;
    margin-bottom: 0px;
}

.calenderBoxOn  {
  transition:all 0.3s;
  opacity: 1 !important;
  top:20% !important;
}

#calenderText {
  font-size: 1vw;
    position: absolute;
    left:10px;
    bottom: 10px;
    opacity: 0;
}

.calendarOn #calenderText {
  opacity: 1;
}

#calendarBox p  {
  font-size: 2vw;
    font-weight: bold;
    margin: 14px;
    text-shadow: 0 0 4px crimson;
    color: white;
}
#calendarBox hr {
  height: 2px;
    border: 0px;
    background: black;
    width: 6%;
    margin-bottom: 20px;
}

#jsTodoBox  {
  display: flex;
  justify-content: center;
  position: relative;
  width: 95%;
  height: 70%;
  background: rgba(0,0,0,0.5);
  border-radius: 20px;
  margin: 0 auto;
  border-radius: 30px;
}
#jsTodoBox ul{
  width: 45%;
  padding: 0px;
  margin: 4% 1.5%;
  background: rgba(255,255,255,0.3);
  border-radius: 20px;
}

.reName {
  margin: 0 auto;
    text-align: center;
    display: block;
    padding: 4px 15px;
    background: rgba(0,0,0,0.6);
    border: 2px solid white;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.reName:hover {
  transform: scale(1.05);
}
.reName:active  {
  transform: scale(0.95);
}

.blackBack  {
  position: fixed;
  top: 0px;
  left: 0px;;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
    transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .js-weather {
    display: block;
  }
  .js-title {
    font-size: 15vw;
    margin-top: 5%;
    margin-bottom: 1%;
  }
  .showing  {
    font-size: 7vw;
    margin: 2%;
  }

  .calendarOn {
    width: 100% !important;
    height: 52vh !important;
  }
  .tableBoxOn{
    left: 24% !important;
  }
  #jsMonth select {
    font-size: 4vw;
  }
  #calendarBox  {
    width: 95%;
    left: 2.5%;
    top: unset !important;
    bottom: 2.5% !important;
    z-index: 2;
    border: 3px solid white;
    box-sizing: border-box;
  }
  #calenderText {
    font-size: 4vw;
  }
  #calendarBox p  {
    font-size: 8vw;
  }
  #ulTitle div  {
    width: 42%;
    margin: 0% 1.6%;
  }
}
